body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1B4965;
}

h1 {
    color: #0077b6;
}

nav {
    background-color: #0077b6;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

#map {
    height: 500px;
    width: 50%;
    border-radius: 10px;
    border: 2px solid #0077b6;
}

.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

canvas {
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
